<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Duy Anh Chat App</title>
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js "></script>

</head>

<body>

    <div class="join-container">
        <header class="join-header">
            <h1><i class="fas fa-smile"></i> Kaisa Chat</h1>
        </header>
        <main class="join-main">
            <div class="form-control">
                <label for="username"> Hello <b><%= user.displayName%></b></label>
                <input type="hidden" id="username" value="<%= user.displayName%>" />

                </input>
            </div>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                            <option value="USTH">USTH</option>
                            <option value="HSGS">HSGS</option>
                            <option value="TanMai">TanMai</option>
                            <option value="Family">Family</option>
                </select>
            </div>
            <button class="btn" type="submit" id="btn-register">Join Chat</button>
        </main>
    </div>


    </div>
    <div class="chat-container">
        <header class="chat-header">
            <h1><i class="fas fa-smile"></i> Kaisa Chat</h1>
            <a class="btn" id="btn-logout">Leave Room</a>
        </header>
        <main class="chat-main">
            <div class="chat-sidebar">
                <h3><i class="fas fa-comments"></i> Room Name:</h3>
                <h2 id="room-name" style="color: rgb(230, 230, 70); text-align: center;">JavaScript</h2>
                <h3><i class="fas fa-users"></i> Online Users</h3>
                <ul id="users" style="color: rgb(230, 230, 70); text-align: center;">
                </ul>
            </div>
            <div class="chat-messages">



            </div>
        </main>
        <div class="chat-form-container ">
            <p id='typing'></p>
            <input id="input-msg" type="text" style="width: 900px;height: 40px;font-size: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; " placeholder="Enter Message .... " required autocomplete="off " />
            <button class="btn" id="btn-msg"><i class="fas fa-paper-plane "></i> Send</button>
        </div>
    </div>
    <script src="client.js "></script>
</body>

</html>